:root {
  --primary-color: #7fb73a;
  --off-white: #e9eef8;
  --off-black: #eef1d2;
  --dark-gray: #6b7280;
}
  
  /** App css **/
  .App {
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    margin-bottom: 80px;
  }
  .title {
    padding: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
    text-shadow: 0 2px 0 darkcyan;
    color: rgb(65, 63, 63);
    font-family: "Megrim", cursive;
  }
.description {
    margin-bottom: 50px;
    font-weight: bold;
    color: #4d4e4f;
}
.month{
  cursor: pointer;
  background: #E5E7EB;
  border-radius: 0.5rem;
  padding: 0.5rem  1rem;
  border: 1px solid darkcyan;
  margin: 1rem 1.5rem;
  font-size: 1.5rem;
  transition: 0.8s;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.month:hover{
  background-color: rgb(201, 255, 237);
}
.flexbox {
  margin: 10px;
  margin-left: 5px;
  padding-right: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    #meaning {
        font-weight: 400;
        font-size: 1.5rem;
    }
}

  /** Header css **/
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
  body {
    font-family: "Montserrat", sans-serif;
    margin: 0px auto;
    width: 100%;
    background-color: var(--off-white);
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap");
  .navigation .nav-brand > a {
    font-family: "Stalinist One", cursive;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }
  
  .navigation {
    background: -moz-linear-gradient(top, #7fb73a, skyblue);
    background: -webkit-gradient(linear, left top, left bottom, from(#7fb73a), to(rgb(157, 203, 221)));
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -moz-box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    color: #454545;
    text-shadow: 0 1px 0 white;
    padding: 1rem;
  }
  
  .navigation .nav-pills {
    text-align: right;
    margin: 0.6rem 1rem;
  }
  
  .navigation .link {
    color: black;
  }
  
  .navigation .link-active {
    font-weight: bold;
  }
  .list-item-inline {
    display: inline;
    padding: 0rem;
  }
  /** links **/
  .link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  /** Footers css **/
  .footer {
    background-color: #5e832d;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    box-shadow: 0px -10px 20px 0px rgb(0 0 0 / 30%), 2px 1px 0px 0px rgb(0 0 0 / 19%);
  }
  
  .footer .link {
    color: white;
    transition: 0.3s;
  }
  .footer .link:hover {
    color: rgba(255, 255, 255, 0.621);
  }
  
  .footer .footer-header {
    font-weight: bold;
    font-size: large;
  }
  
  .footer ul {
    padding-inline-start: 0px;
  }